src/main/mule/mathematicsapp-impl.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <flow name="math-operation-flow" doc:id="797d3839-a9ba-4a78-b566-46c255e0e966">
        
        <logger level="INFO" doc:name="Log Incoming Request" message="Received request: #[payload]" />

        <ee:transform doc:name="Extract and Compute">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
var op = upper(attributes.queryParams.operation)
var n1 = payload.number1 as Number
var n2 = payload.number2 as Number
---
{
    result: 
        op match {
            case "ADD"      -> n1 + n2
            case "SUBTRACT" -> n1 - n2
            case "MULTIPLY" -> n1 * n2
            case "DIVIDE"   -> if (n2 != 0) n1 / n2 else "Division by zero error"
            else -> "Invalid operation"
        }
}                ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Log Result" message="Calculated result: #[payload.result]" />
    </flow>
</mule>
